* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main.hero {
  flex: 1; 
} 

.hero {
  background-color: #ffcd9e;
  padding: 100px 0 5px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1100px;
  
}

.hero_txt {
  width: 35%;
  line-height: 1.5;
  font-size: 1rem;
}

.hero_txt p,h2{
  padding-bottom:1rem ;
}


.row {
  display: flex;
  justify-content: space-between;
}

.input-btn {
  padding-bottom: 1rem;
}

.input-txt {
  width: 58%;
  padding: 0.5rem;
  border: black solid 2px;
  border-radius: 0.4rem;
  
}

.btn {
  display: inline-block;
  width: 40%;
  padding: 0.5rem;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 0.4rem;
  
}

.note{
  padding:0 3rem ;
  color: white;
  
}

.dweep-png {
  max-width: 100%; /* Scales the image responsively */
  width: 25vw; /* Default width */
  height: auto;
  margin-top: -3rem;
}

.footer{
  background-color: #282828; 
  padding: 3rem 0 ;
   margin-top: auto; 
 color: white;
}


.footer-links{
    list-style: none;
    line-height: 2;
} 

@media (max-width: 600px) {

  .row{
    display: block;
  }

  .hero_txt,.dweep-png{
    width: 100%;
  }

  .dweep-png{
    margin-top: 10px;
  }
  
  .input-txt, .btn {
    min-width: 100%; 
    margin-top: 10px;
  }
}


